<div style="text-align: center">
    <img src="rhte2019.png" width="518" height="172">
    <p></p>
    <h1><%= answer %></h1>
    <p></p>
    <img src="beer_kegs.jpg" width="518" height="172">
</div>
