<img src="rhte2019.png" width="518" height="172">
<p></p>
<h1>OpenShift RHTE 2019 Beer Keg Calculator</h1>
<p></p>
<!--
<img src="beer_mug.jpg" width="200" height="218">
-->
<img src="beer_kegs_with_glasses.png" width="200" height="218">
<p></p>
<form action="/calculate">
  <input type="text" name="thirsty_associates">  
  <label for="thirsty_associates">Thirsty Associates</label> 
  <input type="text" name="half_litre_mugs">    <label for="half_litre_mugs">1/2 litre mugs per engineer</label> <br> <br>
  <input type="submit" value="Calculate beer kegs!">
</form>